[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain = "*"
streamlit-chat = "*"
openpyxl = "*"

[dev-packages]
ipykernel = "*"
flake8 = "*"
mypy = "*"
google-search-results = "*"

[requires]
python_version = "3.11"
